div p span{background-color:blue;color:darkgray}

          div p.abc{background-color: coral;}
          #bcd{background:darkblue;}
             *{background-color:rgb(145, 135, 135); color:aquamarine;}
  